/* LoanRequest.css */

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Back button styles */
  #backButton {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: left;
  
  }
  
  /* Page title styles */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  /* Search and filter styles */
  div.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #searchBox {
    padding: 10px;
    width: 20%;
  }
  
  label#filter {
    display: flex;
    align-items: center;
    color: #34495e;
    font-size: 16px;
    float: right;
  }
  
  select {
    margin-left: 10px;
    padding: 8px;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  thead th {
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  
  .sortButtons {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sortButtons:hover {
    color: #3498db; /* Change the color on hover */
    transform: scale(1.1); /* Increase the size on hover */
  }
  
  
  /* Modal styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #3498db;
  }
  
  .address-details {
    margin-top: 30px;
  }
  
  /* Pagination styles */
  div.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  button.pagination-button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  button.pagination-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  #greenButton{
    background-color: green;
  }
  
  #redButton{
    background-color: rgb(198, 16, 16);
    
  }
  
  #redButtons{
    position: absolute;
    background-color: rgb(168, 19, 19);
    top: 10px;
    right: 10px;
    
  }
  
  .leaverequest {
      width: 90%;
      display: block;
      margin: 20px auto;
  }